{% extends 'layout.html' %}

{% block body %}

<h1>Registration</h1>

<form action="/create/user" method="POST">

  <input class="form-control" type="text" name="fname" placeholder="First Name">
  <input class="form-control" type="text" name="lname" placeholder="Last Name">
  <input class="form-control" type="email" name="email" placeholder="Email">
  <input class="form-control" type="password" name="pass1" placeholder="Password">
  <input class="form-control" type="password" name="pass2" placeholder="Confirm Password">
  <input class="btn btn-dark" type="submit" value="Register">
</form>


{% endblock %}